@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap");

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: "Orbitron", sans-serif;
	background: #000;
	overflow-x: hidden;
}

.hud-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 20px;
	overflow-x: auto;
	background-color: transparent;
}

.hud-wrapper::-webkit-scrollbar {
	display: none;
}
.hud-wrapper {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.hud-container {
	display: flex;
	flex-direction: row;
	gap: 80px;
	padding: 30px 60px;
	background: url("/cbg.png") center center no-repeat;
	background-size: contain;
	background-color: transparent;
	border: none;
	width: 850px;
	height: 150px;
	justify-content: center;
	align-items: center;
	box-shadow: none;
	overflow: hidden;
}

.hud-overlay-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-width: 80px;
	min-height: 100px;
	padding: 10px 05px;
	background: transparent;
	transition: transform 0.3s ease;
}

.hud-overlay-box:hover {
	transform: scale(1.05);
}

.hud-value {
	font-size: 2.3rem;
	color: #00d9ff;
	text-shadow: 0 0 3px #00d9ff;
	font-weight: 300;
	opacity: 0.9;
	margin-bottom: 2px;
	line-height: 1.1;
}

.hud-overlay-box.box-days .hud-value {
	font-weight: 600;
	opacity: 1;
	text-shadow: 0 0 6px #00d9ff;
	font-size: 3.5rem;
	margin-bottom: 1px;
}

.hud-overlay-box.box-days .hud-label {
	font-weight: 900;
	opacity: 1;
	margin-top: 0;
	font-size: 1.2rem;
}
.hud-label {
	font-size: 1rem;
	color: #00d9ff;
	text-transform: capitalize;
	margin-top: 6px;
	font-weight: 600;
	opacity: 0.9;
	margin-top: 0;
}

@media (max-width: 1024px) {
	.hud-container {
		width: 720px;
		gap: 80px;
		padding: 25px 50px;
	}

	.hud-value {
		font-size: 2.5rem;
		margin-bottom: 2px;
		line-height: 1.1;
	}

	.hud-label {
		font-size: 0.9rem;
		margin-top: 0;
		line-height: 1;
	}

	.hud-overlay-box.box-days .hud-value {
		font-size: 3.5rem;
		margin-bottom: 1px;
	}

	.hud-overlay-box.box-days .hud-label {
		font-size: 1rem;
		margin-top: 0;
		line-height: 1;
	}
}

@media (max-width: 768px) {
	.hud-container {
		width: 680px;
		gap: 80px;
		padding: 20px 40px;
	}

	.hud-value {
		font-size: 2.3rem;
		margin-bottom: 2px;
		line-height: 1.1;
	}

	.hud-label {
		font-size: 0.7rem;
		margin-top: 0;
		line-height: 1;
	}

	.hud-overlay-box.box-days .hud-value {
		font-size: 3.2rem;
		margin-bottom: 1px;
	}

	.hud-overlay-box.box-days .hud-label {
		font-size: 0.9rem;
		margin-top: 0;
		line-height: 1;
	}
}

@media (max-width: 600px) {
	.hud-container {
		width: 640px;
		gap: 40px;
		padding: 20px;
	}

	.hud-value {
		font-size: 1.7rem;
		margin-bottom: 2px;
		line-height: 1.1;
	}

	.hud-label {
		font-size: 0.75rem;
		margin-top: 0;
		line-height: 1;
	}

	.hud-overlay-box.box-days .hud-value {
		font-size: 2.1rem;
		margin-bottom: 1px;
	}

	.hud-overlay-box.box-days .hud-label {
		font-size: 0.9rem;
		margin-top: 0;
		line-height: 1;
	}
}

@media (max-width: 480px) {
	.hud-container {
		width: 600px;
		gap: 25px;
		padding: 15px;
		background-size: contain;
	}

	.hud-overlay-box {
		min-width: 70px;
		min-height: 90px;
	}

	.hud-value {
		font-size: 1.3rem;
		margin-bottom: 2px;
	}

	.hud-label {
		font-size: 0.5rem;
		margin-top: 0;
	}

	.hud-overlay-box.box-days .hud-value {
		font-size: 1.7rem;
		margin-bottom: 1px;
	}

	.hud-overlay-box.box-days .hud-label {
		font-size: 0.6rem;
		margin-top: 0;
	}
}

@media (max-width: 375px) {
	.hud-container {
		width: 580px;
		gap: 15px;
		padding: 10px;
	}

	.hud-value {
		font-size: 1rem;
		margin-bottom: 2px;
		line-height: 1.1;
	}

	.hud-label {
		font-size: 0.5rem;
		margin-top: 0;
		line-height: 1;
	}

	.hud-overlay-box.box-days .hud-value {
		font-size: 1.3rem;
		margin-bottom: 1px;
	}

	.hud-overlay-box.box-days .hud-label {
		font-size: 0.6rem;
		margin-top: 0;
	}
}
